@font-face {
    font-family: Estedad-Black;
    src: url("../assets/fonts/Estedad-Black.ttf") format("truetype");
}
@font-face {
    font-family: Estedad-Bold;
    src: url("../assets/fonts/Estedad-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Estedad-Medium;
    src: url("../assets/fonts/Estedad-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Estedad-Regular;
    src: url("../assets/fonts/Estedad-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Estedad-Thin;
    src: url("../assets/fonts/Estedad-Thin.ttf") format("truetype");
}