@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

@layer base {
  html {
    font-family: Estedad-Medium;
    scroll-behavior: smooth;
  }
  h1, h2 {
    font-family: Estedad-Bold;
  }
  p, ::placeholder {
    font-family: Estedad-Regular;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Customize Swiper */
.swiper-pagination-bullet-active {
  --swiper-pagination-color: #417f56;
  --swiper-pagination-bullet-size: 16px;
  border: 2px solid #e5f2e9;
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #adadad;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}
.swiper-pagination-bullets {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.swiper-pagination {
  z-index: 11 !important;
  margin-left: auto;
  margin-right: auto;
  left: 0 !important;
  right: 0;
}